.Main {
    height: 100%;
    width: 100%;
}

.Main .Navigation {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Main .NavigationSlot {
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    /* box-shadow: -20px 0 20px 0px rgb(77, 77, 77); */
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.Main .NavigationSlot::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 20px;
    box-shadow: -20px 0 20px -20px rgb(77,77,77)inset;
    right: 100%;
}

.Main .DisplayKind {
    background: white; */
    box-shadow: 0px 0px 20px rgb(77, 77, 77);
    overflow: auto;
    height: 100%;
    /* width: 100%; */
}